@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    cursor: pointer;
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 100%);
}
.navbar{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    width: 550px;
    height: 50px;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 15px 20px;
    border-radius: 10px;
    margin-top: 30px;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.link{
    display: flex;
    gap: 40px;
    text-decoration: none;
}
.name{
    font-family: "Onest", sans-serif;
    font-weight: 500 ;
    font-size: 20.4px;
}
.github, .linkedln, .email{
    font-size: 17px;
    font-family: "Encode Sans Semi Condensed", sans-serif;
    font-weight: 400 ;
}
.linkedln{
    background-color: hsl(0, 0%, 93%);
    min-width: 100px;
    height: 35px;
    text-align: center;
    padding:15px;
    justify-content: center; 
    align-items: center;
    border-radius: 5px;
}
.email{
     background-color: #96C6FF;
    min-width: 100px;
    height: 35px;
    text-align: center;
    padding:15px;
    justify-content: center; 
    align-items: center;
    border-radius: 5px;
}
.bars{
    margin-top: 10px;
}
.github,
.linkedln,
.email {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar {
  position: fixed;
  top: 0;
  right: -250px;   /* hidden by default */
  width: 250px;
  height: 100%;
  background: #444;
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: right 0.3s ease;
  z-index: 1000;
}

.sidebar.open {
  right: 0;  /* slides in */
}

.sidebar .close-btn {
  align-self: flex-end;
  cursor: pointer;
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: white;
}

.sidebar a {
  color: white;
  text-decoration: none;
  padding: 10px 0;
  font-size: 1.1rem;
}

@media screen and (max-width:992px) {
    .link{
      display: none;
    }
    .navbar{
      width: 100%;
      justify-content: space-between;
    }
    .name{
      font-size: 24px;
    }
    .navbar{
      height: 80px;
    }
}

@media screen and (max-width:600px){
      .link{
      display: none;
    }
    .navbar{
     width: 90%; 
     height: 60px;           
    padding: 1opx;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
     .name{
      font-size: 20px;
    }
}